#header-top{
    padding:10px;
    border-bottom: 1px solid #ddd;
    background-color: #fff;
}

#header-top a {
    color: #777;
    text-decoration: none;
    padding-left: 20px;
    font-size: 12px;
    font-weight: bold;
}

.label{
    color:#222;
    background-color: #00d7d2;
    font-size: 10px;
    font-weight: 400;
    padding-top: .4em;
    padding-bottom: .4em;
    border-radius: 5px;
}

#header-top a:hover{
    color: #0248ff;
}

.overflow{
    height: 20px;
    overflow: hidden;
}

#header-bottom, #header-bottom-mobile{
    padding: 20px 20px 10px 20px;
}

#header-bottom{
    background-color: #fff;
}

#logo{
    fill: #0248ff;
}

#header-bottom-mobile{
    background-color: #0248ff;
}
#logo-mobile {
    fill: #fff;
}
.nav>li>a{
    color:#222;
    font-weight: 550;
    font-size: 13px;
}

.nav>li:first-child{
    padding-left: 35px;
}

.nav>li>a:focus, .nav>li>a:hover{
    background-color: #fff;
    color: #0248ff;
}

.btn.btn-default{
    margin-top: 6px;
    color: #0248ff;
    font-weight: bold;
    border-color: #0248ff;
}

.btn.btn-default:hover{
    color:#fff;
    background-color: #0248ff;
}

.fa-bars{
    color: #fff;
    font-size: 16px;
    padding-top: 10px;
}
main{
    padding-top: 111px;
}

.jumbotron{
    background-image: url(img/bg-jumbo.jpg);
    margin-bottom: 0;
}

.jumbotron .h1{
    font-weight: bold;
    font-size: 60px;
    color: #fff;
    margin-bottom: 20px;
}

.jumbotron .sub {
    color: #ccc;
    font-size: 25px;
}

form{
    background-color: #fff;
    margin: 0 30px;
    padding: 30px;
    border-radius: 5px;
}

#h2, .h2{
    color:#031b4e;
    font-size: 36px;
    font-weight: bold;
}

.form-input input{
    width: 100%;
    border-radius: 5px;
    border: 1px solid #eee;
    font-size: 20px;
    padding: 10px;
    margin-bottom: 20px;
}

#button button{
    width: 100%;
    font-size: 20px;
    color:#fff;
    font-weight: bold;
    background-color: #0248ff;
    margin-bottom: 20px;
}

#button button:hover{
    background-color: #1633ff;
    color: #fff;
}

#sign p{
    font-size: 16px;
    color: #777;
    margin: 0 15px;
}

#sign p::before, #sign p::after{
    content: "";
    height: 10px;
    color: red;
    width: 18px;
}

.sign-account a{
    font-size: 18px;
    color: #031b4e;
    width: 100%;
    display: inline-block;
}

p small{
    font-size: 12px;
    margin-top: 30px;
}

#partners{
    padding: 50px 0;
    background-color: #f3f5f9;
}

#partners p{
    font-weight: bold;
    color: #c4cad7;
    font-size: 18px;
}
#partners-logo{
    object-fit: contain;
    height: 70px;
    width: 100%;
}

#Deploy{
    padding-top: 70px;
    padding-bottom: 50px;
}

#Deploy p:first-of-type{
    margin: 20px 0;
    color: #c4cad7;
    font-size: 20px;
}


@media all and (max-width: 992px){
    main{
        padding-top: 101px;
    }
}

@media all and (max-width: 768px) {
    .jumbotron{
        background-color: #0248ff;
        background-image: none
    }

    #button button{
        font-size: 14px;
    }
}
