/* inizio header */
#header-top{
    padding:10px;
    border-bottom: 1px solid #ddd;
    background-color: #fff;
}

#header-top a {
    color: #777;
    text-decoration: none;
    padding-left: 20px;
    font-size: 12px;
    font-weight: bold;
}

.label{
    color:#222;
    background-color: #00d7d2;
    font-size: 10px;
    font-weight: 400;
    padding-top: .4em;
    padding-bottom: .4em;
    border-radius: 5px;
}

#header-top a:hover{
    color: #0248ff;
}

.overflow{
    height: 20px;
    overflow: hidden;
}

#header-bottom, #header-bottom-mobile{
    padding: 20px 20px 10px 20px;
}

#header-bottom{
    background-color: #fff;
}

#logo{
    fill: #0248ff;
}

#header-bottom-mobile{
    /* background-color: #0248ff; */
    margin-bottom: 40px;
}
#logo-mobile {
    fill: #fff;
}
.nav>li>a{
    color:#222;
    font-weight: 550;
    font-size: 13px;
}

.nav>li:first-child{
    padding-left: 35px;
}

.nav>li>a:focus, .nav>li>a:hover{
    background-color: #fff;
    color: #0248ff;
}

.btn.btn-default{
    margin-top: 6px;
    color: #0248ff;
    font-weight: bold;
    border-color: #0248ff;
}

.btn.btn-default:hover{
    color:#fff;
    background-color: #0248ff;
}

.fa-bars{
    color: #fff;
    font-size: 16px;
    padding-top: 10px;
}
/* fine header */
/* inizio jumbo */
main{
    padding-top: 111px;
}

.section{
    padding: 100px 0 70px;
}

.jumbotron{
    background-image: url(img/bg-jumbo.jpg);
    margin-bottom: 0;
}

.jumbotron .h1{
    font-weight: bold;
    font-size: 60px;
    color: #fff;
    margin-bottom: 20px;
}

.jumbotron .sub {
    color: #ccc;
    font-size: 25px;
}

form{
    background-color: #fff;
    margin: 0 30px;
    padding: 30px;
    border-radius: 5px;
}

#h2, .h2{
    color:#031b4e;
    font-size: 36px;
    font-weight: bold;
    text-align: center;
}

.form-input input{
    width: 100%;
    border-radius: 5px;
    border: 1px solid #eee;
    font-size: 20px;
    padding: 10px;
    margin-bottom: 20px;
}

#button button{
    width: 100%;
    font-size: 20px;
    color:#fff;
    font-weight: bold;
    background-color: #0248ff;
    margin-bottom: 20px;
}

#button button:hover{
    background-color: #1633ff;
    color: #fff;
}

#sign p{
    font-size: 16px;
    color: #777;
    margin: 0 15px;
}

#sign span::before, #sign span::after{
    content: "";
    display: inline-block;
    width: calc((100% - 125px) / 2);
    border-top: 1px solid #e5e8ed;
    vertical-align: middle;
}

#sign span::before{
    margin-right: 5px;
}
#sign span::after{
    margin-left: 5px;
}

.sign-account svg{
    vertical-align: middle;
}
.sign-account a{
    font-size: 18px;
    color: #031b4e;
    width: 100%;
    display: inline-block;
}

p small{
    font-size: 12px;
    margin-top: 30px;
}
/* fine jumbo */
#partners{
    padding: 50px 0;
    background-color: #f3f5f9;
}

#partners p{
    font-weight: bold;
    color: #c4cad7;
    font-size: 18px;
}
.partners-logo{
    object-fit: contain;
    height: 70px;
    width: 100%;
}
/* fine partner */


.sub-title{
    margin: 20px 0 70px;
    color: #c4cad7;
    font-size: 20px;
}

#deploy-menu p{
    margin-left: 20px;
    padding: 10px;
    border-left: 2px solid #c4cad7;
    color: #c4cad7;
    margin-bottom: 0;
}

#deploy-menu{
    margin-bottom: 30px;
}

#deploy-menu p:hover{
    color: #111;
    border-color: #1633ff;
}
/* fine deploy */
.designed{
    background-color: #f3f5f9;
}

.glyphicon-container{
    margin-top: 15%;
}
.glyphicon-chevron-right, .glyphicon-chevron-left{
    font-size: 30px;
    color: #c4cad7;
    padding-top: 60%;
}

.glyphicon-chevron-right:hover, .glyphicon-chevron-left:hover{
    color:#1633ff;
}

.designed p{
    color: #c4cad7;
    margin:40px 0 30px;
}

.fa-circle{
    color: #1633ff;
}
/* fine designed */
#built .row div{
    margin-bottom: 30px;
}
#built a{
    text-decoration: none;
    color: #1633ff;
}

#built a:hover{
    color:#0248ff;
}
.fa-angle-right{
    vertical-align: middle;
}

#reiable svg{
    height: 50px;
}

#built .row:last-child{
    margin-top: 50px;
}
/* fine built */

#world{
    background-color: #031b4e;
    background-image: url(img/map.svg);
}

#world .h2{
    color: #fff;
    font-weight: 900;
    margin-bottom: 50px;
}

.table .sigla, .table .luogo, .table .text-right {
    border-top: none;
    border-bottom: 1px solid #777;
}


.table tr:last-child th{
    border-bottom:none;
}
.table .sigla{
    color:#fff;
}

.table .luogo{
    color:#aaa;
}

.table a {
    color:#00d7d2;
    text-decoration: none;
}
.table a:hover{
    color:#0248ff;
}
/* fine world */

#designed-two-content{
    background-color: #fff;
    padding: 40px 20px 70px;
}

#designed-two-content img{
    width: 100px;
}
/* fine designed-two */
/* inizio call-to-action */
#call-to-action{
    background-image: url(img/bg-button.jpg);
}

#call-to-action .h2{
    color:#fff;
}

#call-to-action button{
    width: 100%;
    padding: 15px 20px ;
    font-size: 18px;
    border-radius: 7px;
}

#call-to-action button:hover{
    color: #0248ff;
    background-color: #ced8fb;
}
/* fine call-to-action */
/* inizio footer */
footer{
    background-color: #010e28;

}

footer h4{
    color:#fff;
    margin-bottom: 20px
}
footer ul{
    list-style: none;
    padding: 0;
}

footer li{
    margin: 10px 0;
}

footer a{
    color:rgba(255, 255, 255, 0.5);
    text-decoration: none;
    padding: 10px 0;
}

footer a:hover{
    color:#fff;
    text-decoration: none;
}

#footer-bottom{
    margin-top: 70px;
    border-top: 1px solid #ddd;
    padding: 30px 0;
}

#footer-bottom p{
    color:rgba(255, 255, 255, 0.5);
    margin-bottom: 20px;
    display: inline-block;
}
#logo-bottom svg{
    vertical-align: middle;
    margin-right: 20px;
}
#footer-bottom li{
    display: inline-block;
    padding: 0 5px;
}

.nav>li>a{
    font-size: 13px;
    padding: 10px 10px;
}

@media all and (max-width: 992px){
    main{
        padding-top: 31px;
    }
    .jumbotron{
        padding-top: 0;
    }

    form{
        margin: 0;
    }
}

@media all and (max-width: 768px) {
    .jumbotron{
        background-color: #0248ff;
        background-image: none
    }

    #button button{
        font-size: 14px;
    }

    .glyphicon-chevron-right, .glyphicon-chevron-left{
        font-size: 20px;
    }

}
